<ion-header>
	  <ion-toolbar>
		      <ion-title>
			            Edit Email
				        </ion-title>
					  </ion-toolbar>
</ion-header>
<ion-content>
	  <ion-list lines="full">
		      <form [formGroup]="updateEmailForm" (ngSubmit)="updateForm()">
			            <ion-item>
											        <ion-input formControlName="sent" type="hidden" >
													        </ion-input>
											        <ion-input formControlName="draft" type="hidden" >
													        </ion-input>
											        <ion-input formControlName="date" type="hidden" >
													        </ion-input>
											        <ion-input formControlName="user_id" type="hidden" >
													        </ion-input>
											        <ion-input formControlName="appointment_id" type="hidden" >
													        </ion-input>
			            </ion-item>
			            <ion-item>
					            <ion-label position="floating">subject</ion-label>
						            <ion-input formControlName="subject" type="text" required></ion-input>
							          </ion-item>
								        <ion-item>
										        <ion-label position="floating">content</ion-label>
											        <ion-input formControlName="content" type="text" required>
													        </ion-input>
														      </ion-item>
																					        <ion-row>
																							        <ion-col>
																									          <ion-button type="submit" color="primary" shape="full" expand="block">Update Email</ion-button>
																										          </ion-col>
																											        </ion-row>
																												    </form>
																												      </ion-list>
</ion-content>
